$yellow:#FCBD29;
$orange:#F57011;
$outer:'outer';
$poppins:"poppins";

body{
    height: 100vh;
    overflow-x:hidden;
}
li{
    list-style: none;

}
.content{
    max-width: 1400px;
    margin: auto;
}

