header{
    margin: 20px;
    padding-bottom: 2rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-family: $outer;
    font-size: 25px;
}
.navbar{
    ul{
        display: flex;
        align-items: center;
        li{
            margin-right: 25px;
            font-family: $poppins;
            text-transform: capitalize;
            cursor: pointer;

            &::after{
                content: "";
                position: absolute;
                width: 0%;
                height: 1px;
                display: block;
                transition: all 0.3s ease;
                
            }
            &:hover::after {
                width: 25px;
                height: 2px;
                background-color: $orange;
              }
        }
    }
}
.icon{
    ul{
        display: flex;
        align-items: center;
    }
    li{
        display: inline;
        margin-right: 11px;
        font-family: $poppins;
        text-transform: capitalize;
        cursor: pointer;
        span{
            color: white;
            background-color: #000;
            width: 5px;
            height: 5px;
            padding: 8px;
            border-radius: 100%;

        }
    }
}

.menu{
    width: 50px;
    cursor: pointer;
    display: none;
}